fastapi==0.129.0
uvicorn[standard]==0.40.0
python-dotenv==1.2.1
pydantic==2.12.5
pydantic-settings==2.12.0
sqlalchemy==2.0.46
alembic==1.18.4
psycopg2-binary==2.9.11
pytest==9.0.2
httpx==0.28.1
fastapi-sso @ git+https://github.com/john-9474/fastapi-sso@new_providers
PyJWT==2.11.0
python-multipart==0.0.22
